.projects {
  text-align: center;
  text-decoration: underline;
  /* line 63 */
}
.wholeCard {
  max-width: 1200px;
  /* line 66 */
}
.imageStyling {
  padding-top: 80px;
  padding-right: 35px;
  height: 300px;
  width: 290px;
  /* line 71 */
}
.card-title {
  text-decoration: underline;
  /* line 80 */
}
.cardCenter {
  text-align: center;
  /* line 98 */
}

.description {
  font-size: 12px;
}

.imageStyling {
  /* work on styling picture sizes */
  max-width: 100%;
  max-height: 100%;
  display: block;
  /* vertical-align: middle; */
  border-style: none;
}

.project-title{
    text-align: center;
}

.text-muted{
  font-size: 12px;
}

h1{
  color: white;
}

.marginRight{
  margin: 5px;
}