body {
  background-image: url("./Assets/images/backgroundimg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Roboto Slab', serif;
}

.bottom{
  flex-shrink: 0;
}

.figure{
  padding-top: 10px;
}

.lead {
  font-weight: bolder
}
